name: "Apollo Guidance Computer"
scopeName: "source.agc"
fileTypes: ["agc"]
patterns: [include: "#main"]

repository:
	
	# Top-level patterns
	main:
		patterns: [
			{include: "#comments"}
			{include: "#inclusion"}
		]
	
	# Comment-lines
	comments:
		name: "comment.line.number-sign.agc"
		begin: "#"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.agc"
		patterns: [
			match: "XXX"
			name: "meta.placeholder-coords.agc"
		]
	
	
	
	# Include directive
	inclusion:
		name: "meta.preprocessor.include.directive.agc"
		begin: "^\\$"
		end: "(?=\\s)"
		beginCaptures:
			0: name: "punctuation.definition.directive.agc"
